.student-photo {
    height: 300px;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid #ccc;
    background: #eee;
    width: 240px;
    margin: 0 auto;
}
.photo > input[type='file'] {
    display: none;
}
.photo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.student-id {
    border-color: #ccc;
    padding: 5px;
    text-align: center;
    background: #eee repeat-x;
    border-bottom: 1px solid  #ccc;
}
.btn-browse {
    border-color: #ccc;
    padding: 5px;
    text-align: center;
    background: #eee ;
    border-top: 1px solid  #ccc;
}
fieldset {
    margin-top: 5px;
}
fieldset legend {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 15px;
    line-height: inherit;
    color: #797979;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}
